@import url("https://fonts.googleapis.com/css?family=Crimson+Pro");

.App {

    font-family: "Crimson+Pro", normal;
    color: black;
}

/* .notas {
    padding-top: '40px';
    margin: auto;
    width: fit-content;
} */

.images {
    font-size: 0px;
    display: grid;
    grid-template-columns: repeat(5, max-content);
}

.imagenes {
    object-fit: contain
}